{% extends 'base.html' %}
{% block content %}

{% load static %}

<p class="text text-center text-capitalize highlight_text h3">
    Kirill<br>
    Traveller. Software Engineer. <br>
    Evangelist Django.
</p>
<div class="container col-lg-6 col-md-6">
    <img src="{% static 'portfolio_showcase/photo.jpg' %}" class="rounded-circle" width="100%">
</div>
<h2 class="mt-5">Portfolio</h2>
<hr>
<div class="container border-right border-left">
    <div class="row">
        {% for portfolio in portfolios %}

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                {% if portfolio.url %}
                    <a href="{{ portfolio.url }}" target="_blank">
                        <img src="{{ portfolio.image.url }}" width="100%" class="img-fluid mb-2 rounded"/>
                    </a>
                {% else %}
                    <img src="{{ portfolio.image.url }}" width="100%" class="img-fluid mb-2 rounded"/>
                {% endif %}
                <h2 class="title">{{ portfolio.title }}</h2>
                <p class="text">{{ portfolio.description }}</p>
            </div>

        {% endfor %}
    </div>
</div>

{% endblock %}
