<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мое портфолио</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    {% load static %}
    <header>
        <h1>Kirill's portfolio</h1>
        <a href="{% url 'blog:blog_main' %}">Blog</a>
        <a href="{% static 'portfolio_showcase/resume.pdf' %}" target="_blank">Resume</a>
    </header>
    <img src="{% static 'portfolio_showcase/photo.jpg' %}" width="40%">
    <br>
    <div class="container">
        <div class="row">
            {% for portfolio in portfolios %}

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <h2 class="title text-center">{{ portfolio.title }}</h2>
                    <p class="text text-center">{{ portfolio.description }}</p>
                    <img src="{{ portfolio.image.url }}" width="100%"/>
                    {% if portfolio.url %}
                        <a href="{{ portfolio.url }}" target="_blank">Link</a>
                    {% endif %}
                </div>

            {% endfor %}
        </div>
    </div>
</body>
</html>