<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>

    <h2 class="text text-center text-info">I have written {{ articles.count }} blog{{ articles.count|pluralize }}.</h2>
    {% for article in articles %}

        <div class="container col-lg-8">
            <a href="{% url 'blog:blog_detail' article.id %}">
                <h2 class="panel-title">{{ article.title }}</h2><br>
            </a>
            <p class="text text-muted">{{ article.date|date:'d/m/Y' }}</p>
            <p class="text text-primary">{{ article.article|striptags|truncatechars:150 }}</p>
        </div>

    {% endfor %}
</body>
</html>